body {
    font-family: 'Roboto', sans-serif;
    width: 1200px;
    margin: auto; 
}
.main {
    margin: 5%;
    text-align: center;
    color: rgb(114, 114, 114);
    font-weight: 400;
    font-size: 12px;
}

.gray {
    display: flex;
    color: gray;
    padding: 10px;
    font-size: small;
    text-align: center;
    justify-content: space-between;
}


li {
    list-style-type: none; 
    display: inline-block;
    padding: 0px 10px 0 0;
}

li > a {
    text-decoration: none;
    color: rgb(114, 114, 114);
}

.head {
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 96px;
    color: rgb(56, 56, 56);
}

.mainblock {
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 12px;
    padding: 0%;
    margin: 0% 10%;
    width: 80%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.heading {
    margin-block-start: 0;
}

h1 {
    font-weight: 500;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    color: rgb(56, 56, 56);
    padding: 0;
    margin: 0;
}

h2 {
    display: inline-block;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: rgb(46, 46, 46);
    padding: 0;
    margin-top: 40px;
}

h3 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(46, 46, 46);
    padding: 0;
    margin: -15px 0 20px 0;
}
.menu {
    color: white;
    background-color: rgb(61, 59, 59);
    font-weight: 300;
    margin: 15px 0 0 0;
    display: flex;
}
.menu li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
}
.menu a{
    color: aliceblue;
    text-decoration: none;
}
.text {
    font-weight: 400;
    font-size: 16px;
    margin: 0px 10%;
}

.bottomblock{
    background-color: rgb(56, 56, 56);
    color: rgb(163, 163, 163);
    text-align: center;
    width: 1300px;
    padding: 40px;
    margin: 40px 0 0 -40px;
    display: inline-block;
}

.Big {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 5px;
}

.Big li{
    padding: 4px;
}

.Small {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin: -10px;
    margin-bottom: 10px;
}

.Small li{
    padding: 4px;
}

.txt {
    margin-left: -10px;
}

.media {
    max-width: 350px;
    min-width: 350px;
    width: 50%;
    height: 200px;
    border: 1px solid rgb(165, 163, 163);
    margin: 50px auto;
    margin-left: 850px;
    margin-top: -728px;
    margin-bottom: -5px;
}

.social {
    color:rgb(29, 29, 29);
    text-transform: uppercase;
    right: 0;
    border-bottom: 2px solid rgb(165, 163, 163);
    font-weight: normal;
    padding-bottom: 5px;
    position: relative;
    margin: 15px;
    padding-top: 20px;
    margin-bottom: 40px;
}

.social:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 3px solid rgb(22, 22, 22);
  width: 50%;
}

.media img {
    width: 100%;
    max-width: 45px;
}

.media p{
    text-align: left;
}

.media ul{
    display: flex;
    padding: 0;
    margin: 10%;
}

.media li{
    width: 45px;
    margin: auto;
}

.about_users {
    max-width: 350px;
    min-width: 350px;
    width: 50%;
    height: 450px;
    border: 1px solid rgb(165, 163, 163);
    margin: 5% auto;
    margin-left: 850px;
    padding-top: 20px;
    margin-bottom: 50px;
    display: flexbox;
}

.users {
    color:rgb(29, 29, 29);
    text-transform: uppercase;
    border-bottom: 2px solid rgb(163, 163, 163);
    font-weight: normal;
    padding-bottom: 5px;
    position: relative;
    margin: 15px;
    right: 0;
    display: flexbox;   
}

.users:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 3px solid rgb(22, 22, 22);
  width: 50%;
}

.about_users img {
    width: 50;
    height: 50;
    margin: 10px;
}

.user_name{
    text-align: left;
    margin: auto;
    color: rgb(43, 43, 43);
}

.user_job{
    color: rgb(163, 163, 163);
    font-weight: 500;
    text-align: left;
    margin: 0;
}

.names{
    margin: 20px 10px;
}

.about_users br{
    color:rgb(163, 163, 163);
}


.about_users li{
    display: flex;
}

.big {
    float: left;
    margin-top: 40px;
    max-height: 20px;
    max-width: 80%;
    display: flexbox;
    flex: box;
}

.container_event {
    display: flex;
    flex-direction: column;
    max-width: 810px;
    min-width: 810px;
    flex-shrink: 0;
    border: 1px solid rgb(165, 163, 163);
    max-height: 50%;
}

.event_title {
    color:rgb(29, 29, 29);
    text-transform: uppercase;
    border-bottom: 3px solid rgb(22, 22, 22);
    font-weight: normal;
    padding-bottom: 5px;
    position: relative;
    margin: 10px 15px;
    width: 45%;
}

.event {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.event li {
    width: 360px;
    height: max-content;
    margin: 15px 15px;
  }

.lecture1, .lecture2, .lecture3, .lecture4 {
    display: flex;
    background-image: url(./images/Tile-Big-01.png);
    background-size: cover;
    width: 360px;
    height: 180px;
    border: 1px solid black;
    margin: 0;
    margin-left: -40px;
}
.lecture2 {
    background-image: url(./images/Tile-Big-02.png);
    margin-left: 380px;
    margin-top: -300px;
}

.lecture3 {
    background-image: url(./images/Tile-Big-03.png);
    margin-top: -40px;
}

.lecture4 {
    background-image: url(./images/Tile-Big-04.png);
    margin-left: 380px;
    margin-top: -288px;
}

.lecture2 .div_lecture {
    background-color: rgb(16, 190, 54);
}

.lecture3 .div_lecture {
    background-color: rgb(104, 18, 82);
}

.lecture4 .div_lecture {
    background-color: rgb(190, 188, 16);
}

.div_lecture{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: rgb(49, 100, 100);
    width: max-content;
    height: 25px;
    padding: 0 10px;
    margin-top: 155px;
    display: flexbox;
}


.event h4{
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: small;
    color: black;
    font-weight: 500;
}

.event_content {
    margin: 10px 0;
}

.event_content2, .event_content4 {
    margin: 10px 0;
    padding-left: 390px;
    display:inline-block;
    width: 100%;
}


.date1{
    text-align: left;
    color: rgb(165, 163, 163);
    font-weight: 500;
}

.date3{
    text-align: left;
    color: rgb(165, 163, 163);
    font-weight: 500;
    margin-top: 10px;
}

.date2, .date4 {
    margin:0;
    padding-left: 390px;
    display:inline-block;
    width: 100%;
    color: rgb(165, 163, 163);
    font-weight: 500;
}

.download {
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 10px;
	height: 55px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: rgba(20, 122, 11, 0.788);
    color: #000;
    margin: auto;
    align-self: center;
    margin-top: -30px;
    margin-bottom: 10px;
}

h9 {
    color: white;
}

.container_lecture{
    width: 1200px;
    margin: 0;
    margin-top: 150px;
    background-color: rgb(136, 136, 136, 0.151);
}

.lec {
    width: 72px;
    padding: 10px 10px 10px 0;
    color:rgb(29, 29, 29);
    text-transform: uppercase;
    border-bottom: 3px solid rgb(22, 22, 22);
    font-weight: normal;
    padding-bottom: 5px;
    position: relative;
    margin: 10px 15px;
    display: flexbox;
}

.video_ul{
    display: flex;
    margin: 5px;
    margin-left: -15px;
    justify-content: center;
}

.video1, .video2, .video3, .video4{
    width: 280px;
    height: 200px;
    background-image: url(./images/video-01.png);
    margin: 10px;
    margin-left: 0;
}
.video2{
    background-image: url(./images/video-02.png);
}

.video3{
    background-image: url(./images/video-03.png);
}

.video4{
    background-image: url(./images/video-04.png);
}

.news {
    max-width: 734px;
    min-width: 700px;
    width: 70%;
    height: 450px;
    border: 1px solid rgb(165, 163, 163);
    margin: 5% auto;
    float: left;
    display: flexbox;
}


.header2 {
    text-transform: uppercase;
    right: 0;
    border-bottom: 3px solid rgb(163, 163, 163);
    font-weight: normal;
    padding-bottom: 5px;
    position: relative;
    margin: 15px;
    width: 45%;
}

.header2:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 3px solid rgb(34, 34, 34);
  width: 67%;
}

.news_text {
    display: block;
    text-align: left;
    margin: 0;
    font-weight: 500;
    color: rgb(163, 163, 163);
}

.news_head {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.news_date {
    padding-top: 20px;
    display: block;
    text-align: left;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: rgb(163, 163, 163);
}

.news_content {
    margin: 2%;
}

.news img {
    margin-bottom: 1%;
}

.news ul {
    display: block;
    padding: 0;
    margin: 10px 5px;
}

.news li {
    border-bottom: 2px solid rgb(163, 163, 163);
    display: flex;
    margin: 10px;
}

.register {
    max-width: 410px;
    min-width: 410px;
    width: 100%;
    height: 450px;
    border: 1px solid rgb(165, 163, 163);
    margin: 5% auto;
    float: right;
    width: 80%;
    height: 100%;
    background-attachment: fixed;
    display: flexbox;   
}
.reg_header {
    text-transform: uppercase;
    right: 0;
    border-bottom: 3px solid rgb(163, 163, 163);
    font-weight: normal;
    padding-bottom: 5px;
    position: relative;
    margin: 15px;
    width: 90%;
}

.reg_header:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 3px solid rgb(34, 34, 34);
  width: 62%;
}

.register ul {
    display: block;
    padding: 0;
    margin: 10px 5px;
}

.register li {
    border-bottom: 2px solid rgb(163, 163, 163);
    display: flex;
    margin: 10px;
}

p5 {
    margin-left: 15px;
    text-align: left;
    display: block;
    font-weight: 500;
    font-size: small;
    color: rgb(43, 43, 43);
}

.login, .password, .email {
    display: block;
    padding: 15px;
}

.submit {
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 30px;
	margin: 10px 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 10px;
	height: 50px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: rgb(60, 170, 50);
    color: rgba(255, 255, 255, 0.733);
    margin: auto;
    align-self: center;
    margin-left: 280px;
    margin-bottom: 20px;
    margin-top: 10px;
}
input {
    width: 365px;
    height: 50px;
    border: 2px solid rgba(163, 163, 163, 0.5);
    border-radius: 5px;
}
.reg_field {
    padding-top: 20px;
}